<%- include("template/cabecera", {TitulodeCabecera:' Hola desde include 404'}) %>

<body>
    <%- include("template/navbar")%>   
    <br> 
    <h1>Sito dinamico de error 404</h1>
    <h2><%= titulo %></h2>
    <h3><%= description %></h3>
    <h3></h3>
  


<%- include("template/footer")%>